.Home-page{
    width: 100%;
    min-height: 91.5vh;
    max-height: auto;
}

.homeimg{
    width: 700px;
    height: 500px;
    margin:auto;
}


.viewBook {
    text-decoration: none;

}

.viewBook:hover {
    color: white;
}